<div class="row">
<div class="list col col-33 col-offset-33">

  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Go
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Desk
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Steward
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
     	Table
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <button class="button button-block button-positive" ng-click="applySettings()">
		  Apply
	</button>
 </div>
</div>