<ion-view view-title="Menu">
<ion-content>
	<div class="home">
		<div>Please provide your details to serve you better</div>
		<div class="row responsive-sm">
			<div class="col col-33 col-offset-33 list list-inset">
			  <label class="item item-input">
			    <input type="text" placeholder="abc@gmail.com">
			  </label>
			</div>
		</div>
		<div class="row responsive-sm">
			<div class="col col-33 col-offset-33 list list-inset">
			  <label class="item item-input">
			    <input type="text" placeholder="9900099000">
			  </label>
			</div>
		</div>
		<div class="row responsive-sm">
			<div class="col col-33 col-offset-33">
				<button class="button button-energized">No thanks!</button>
				<button class="button button-positive">Thank You!</button>
			</div>
		</div>
	</div>

</ion-content>
</ion-view>
