<ion-view pull-right view-title="Restro7">
<ion-content>
<div class="row">
  <div class="col col-67">
  	<div class="advertisement">
  		
	   </div>
      <div class="filters">
          <input type="search" placeholder="search" ng-model="searchText"/>
      </div>
	<div class="menuArea">

      <div ng-model="menuItems">

        <div class="list">

          <a class="item item-thumbnail-left" href="#" ng-repeat="item in menuItems | filter:searchText" ng-click="menuSelected(item)">
              <img ng-src={{item.imgUrl}}>
              <h2>{{ item.name }}</h2>
              <p>{{ item.description }}</p>
              <p ng-hide="true">{{ item.tag.toString() }}</p>
              <!--<button class="button button-small button-assertive" ng-click="addItemToOrder(item);">Add</button>-->
              <span>Rs : {{ item.price }}</span>
              <img class="chillyRating" ng-repeat="n in [] | range: item.chillyrating" src="img/food6.png"/>
              <span ng-show="item.veg=='vegiterian'" class="vegetarianicon">⊡</span>
              <span ng-show="item.veg=='eggitarian'" class="nonvegeterian">⊡</span>
            </a>
        </div>
      </div>
    
  </div>
  </div>
  <aside class="orderCol col">
      <div class="itemImage"><img ng-src="{{item.imgUrl}}"></div>
      <h4 class="itemName">{{item.name}}</h4>
      <div class="itemDescription">{{item.description}}</div>
      <img class="chillyRating" ng-repeat="n in [] | range: item.chillyrating" src="img/food6.png"/>
      <span ng-show="item.veg=='vegiterian'" class="vegetarianicon">⊡</span>
      <span ng-show="item.veg=='eggitarian'" class="nonvegeterian">⊡</span>
      <span>Rs : {{ item.price }}</span>
      <div class="itemQuantity"><span ng-click="removeQty()">-</span><span class="netQty">{{item.netQty}}</span><span ng-click="addQty()">+</span></div>
      <button class="button button-positive" ng-click="foodCart(item)">
          Add Item to Food Cart
      </button>

  </aside>
</div>
</ion-content>
</ion-view>
