<ion-view pull-right view-title="Restro7">
<ion-content>
<div class="row">
  <div class="col col-67">
  	<div class="advertisement">
  		
	   </div>
	<div class="menuArea">
        <div class="filters">
            <input type="search" placeholder="search" ng-model="searchText"/>
        </div>
      <div ng-model="menuItems">

        <div class="list">

          <a class="item item-thumbnail-left" href="#" ng-repeat="item in menuItems | filter:searchText" ng-click="menuSelected(item)">
              <img src="img/thumbnail-food-app.jpg">
              <h2>{{ item.name }}</h2>
              <p>{{ item.description }}</p>
              <p ng-hide="true">{{ item.tag.toString() }}</p>
              <p>{{ item.mealtype }}</p>
              <button class="button button-small button-assertive">-</button><span class="quantity">0</span>
              <button class="button button-small button-assertive">+</button>
              <button class="button button-small button-assertive" ng-click="addItemToOrder(item);">Add</button>
            </a>
        </div>
      </div>
    
  </div>
  </div>
  <aside class="orderCol col">
    <span ng-bind="item.name"></span>
    <div ng-bind="item.description"></div>
  </aside>
</div>
</ion-content>
</ion-view>

<div class="bar bar-footer">
  <button>Call a waiter</button>
  <button>Water</button>
  <button>Check</button>
  <button>Finish Dining</button>
    <button ng-click="foodCart()">Food Cart</button>
</div>
