/* Empty. Add your own CSS if you like */
.col{
	padding: 0px;
}
.advertisement{
	background: url('../img/sandwich.jpeg') no-repeat;
	background-size: 100% auto;
	height: 150px;
}
.menuArea{
	height: 300px;
	background-color: #DFD;
	overflow-y: scroll;
}

.orderCol{
	height: 600px;
	padding-left: 10px;
	background-color: #CCD;
}